@charset "utf-8";
.tck_webchat_chat_wrapper {
  position: fixed;
  display: none;
  left: auto;
  width: 360px;
  /* height: calc(99vh - var(--bottom) - 20px); */
  height : 100vh;
   min-height: 360px;
  z-index: 10000;
  border-radius: 10px;
  overflow: hidden;
  max-height: 720px;
  bottom:40px;
  right: 40px;
}
.tck_webchat_chat_wrapper.open {
  display: block;
}
.tck_webchat_chat_frame {
  display: none;
  width: 100%;
  height: 100%;
}
.tck_webchat_chat_frame.open {
  display: block ;
}
.tck_webchat_btn_wrapper {
  position: fixed;
  z-index: 10000;
  bottom:40px;
  right: 40px;
  left: auto;
}
.tck_webchat_btn_wrapper p {
  opacity: 0;
  margin: 0;
  padding: 21px 65px 21px 21px;
  line-height: 100%;
  border-radius: 50px;
  cursor: default;
  border: 2px solid #7377ff;
  background-color: #fff;
  font-size: 15px;
  letter-spacing: -1px;
  font-family: "Noto Sans KR";
  font-weight: normal;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
  z-index: 10001;
  overflow: visible;
}
.tck_webchat_btn_wrapper p.txt20.left {padding: 4px 13px 3px 25px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt21.left {padding: 4px 14px 4px 26px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt22.left {padding: 5px 14px 4px 27px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt23.left {padding: 5px 14px 5px 28px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt24.left {padding: 6px 14px 5px 29px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt25.left {padding: 6px 14px 6px 30px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt26.left {padding: 7px 14px 6px 31px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt27.left {padding: 7px 14px 7px 32px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt28.left {padding: 8px 14px 7px 33px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt29.left {padding: 8px 14px 8px 34px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt30.left {padding: 8px 16px 8px 35px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt31.left {padding: 9px 16px 8px 36px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt32.left {padding: 9px 16px 9px 37px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt33.left {padding: 10px 16px 9px 38px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt34.left {padding: 10px 16px 10px 39px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt35.left {padding: 11px 16px 10px 40px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt36.left {padding: 11px 16px 11px 41px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt37.left {padding: 12px 16px 11px 42px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt38.left {padding: 12px 16px 12px 43px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt39.left {padding: 13px 16px 12px 44px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt40.left {padding: 13px 16px 13px 45px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt41.left {padding: 14px 18px 13px 46px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt42.left {padding: 14px 18px 14px 47px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt43.left {padding: 15px 18px 14px 48px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt44.left {padding: 15px 18px 15px 49px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt45.left {padding: 16px 18px 15px 50px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt46.left {padding: 16px 18px 16px 51px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt47.left {padding: 17px 18px 16px 52px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt48.left {padding: 17px 18px 17px 53px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt49.left {padding: 18px 18px 17px 54px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt50.left {padding: 18px 20px 17px 55px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt51.left {padding: 18px 20px 18px 56px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt52.left {padding: 19px 20px 18px 57px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt53.left {padding: 19px 20px 19px 58px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt54.left {padding: 20px 20px 19px 59px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt55.left {padding: 20px 20px 20px 60px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt56.left {padding: 21px 20px 20px 61px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt57.left {padding: 21px 20px 21px 62px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt58.left {padding: 22px 20px 21px 63px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt59.left {padding: 22px 20px 22px 64px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt60.left {padding: 22px 22px 22px 65px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt61.left {padding: 23px 22px 22px 66px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt62.left {padding: 23px 22px 23px 67px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt63.left {padding: 24px 22px 23px 68px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt64.left {padding: 24px 22px 24px 69px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt65.left {padding: 25px 22px 24px 70px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt66.left {padding: 25px 22px 25px 71px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt67.left {padding: 26px 22px 25px 72px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt68.left {padding: 26px 22px 26px 73px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt69.left {padding: 26px 22px 26px 74px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt70.left {padding: 27px 24px 26px 75px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt71.left {padding: 27px 24px 26px 76px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt72.left {padding: 27px 24px 27px 77px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt73.left {padding: 28px 24px 27px 78px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt74.left {padding: 28px 24px 28px 79px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt75.left {padding: 29px 24px 28px 80px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt76.left {padding: 29px 24px 29px 81px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt77.left {padding: 30px 24px 29px 82px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt78.left {padding: 30px 24px 30px 83px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt79.left {padding: 31px 24px 30px 84px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt80.left {padding: 31px 26px 31px 85px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt81.left {padding: 31px 26px 31px 86px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt82.left {padding: 32px 26px 31px 87px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt83.left {padding: 32px 26px 32px 88px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt84.left {padding: 33px 26px 32px 89px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt85.left {padding: 33px 26px 33px 90px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt86.left {padding: 34px 26px 33px 91px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt87.left {padding: 34px 26px 34px 92px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt88.left {padding: 35px 26px 34px 93px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt89.left {padding: 35px 26px 35px 94px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt90.left {padding: 36px 28px 35px 95px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt91.left {padding: 36px 28px 35px 96px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt92.left {padding: 36px 28px 36px 97px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt93.left {padding: 37px 28px 36px 98px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt94.left {padding: 37px 28px 37px 99px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt95.left {padding: 38px 28px 37px 100px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt96.left {padding: 38px 28px 38px 101px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt97.left {padding: 39px 28px 38px 102px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt98.left {padding: 39px 28px 39px 103px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt99.left {padding: 40px 28px 39px 104px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt100.left {padding: 40px 28px 40px 105px;font-size: 17px;}

.tck_webchat_btn_wrapper p.txt20.right {padding: 4px 25px 3px 13px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt21.right {padding: 4px 26px 4px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt22.right {padding: 5px 27px 4px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt23.right {padding: 5px 28px 5px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt24.right {padding: 6px 29px 5px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt25.right {padding: 6px 30px 6px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt26.right {padding: 7px 31px 6px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt27.right {padding: 7px 32px 7px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt28.right {padding: 8px 33px 7px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt29.right {padding: 8px 34px 8px 14px;font-size: 10px;}
.tck_webchat_btn_wrapper p.txt30.right {padding: 8px 35px 8px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt31.right {padding: 9px 36px 8px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt32.right {padding: 9px 37px 9px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt33.right {padding: 10px 38px 9px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt34.right {padding: 10px 39px 10px 16px;	font-size: 11px;}
.tck_webchat_btn_wrapper p.txt35.right {padding: 11px 40px 10px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt36.right {padding: 11px 41px 11px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt37.right {padding: 12px 42px 11px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt38.right {padding: 12px 43px 12px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt39.right {padding: 13px 44px 12px 16px;font-size: 11px;}
.tck_webchat_btn_wrapper p.txt40.right {padding: 13px 45px 13px 16px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt41.right {padding: 14px 46px 13px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt42.right {padding: 14px 47px 14px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt43.right {padding: 15px 48px 14px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt44.right {padding: 15px 49px 15px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt45.right {padding: 16px 50px 15px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt46.right {padding: 16px 51px 16px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt47.right {padding: 17px 52px 16px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt48.right {padding: 17px 53px 17px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt49.right {padding: 18px 54px 17px 18px;font-size: 12px;}
.tck_webchat_btn_wrapper p.txt50.right {padding: 18px 55px 17px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt51.right {padding: 18px 56px 18px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt52.right {padding: 19px 57px 18px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt53.right {padding: 19px 58px 19px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt54.right {padding: 20px 59px 19px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt55.right {padding: 20px 60px 20px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt56.right {padding: 21px 61px 20px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt57.right {padding: 21px 62px 21px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt58.right {padding: 22px 63px 21px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt59.right {padding: 22px 64px 22px 20px;font-size: 13px;}
.tck_webchat_btn_wrapper p.txt60.right {padding: 22px 65px 22px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt61.right {padding: 23px 66px 22px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt62.right {padding: 23px 67px 23px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt63.right {padding: 24px 68px 23px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt64.right {padding: 24px 69px 24px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt65.right {padding: 25px 70px 24px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt66.right {padding: 25px 71px 25px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt67.right {padding: 26px 72px 25px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt68.right {padding: 26px 73px 26px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt69.right {padding: 26px 74px 26px 22px;font-size: 14px;}
.tck_webchat_btn_wrapper p.txt70.right {padding: 27px 75px 26px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt71.right {padding: 27px 76px 26px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt72.right {padding: 27px 77px 27px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt73.right {padding: 28px 78px 27px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt74.right {padding: 28px 79px 28px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt75.right {padding: 29px 80px 28px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt76.right {padding: 29px 81px 29px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt77.right {padding: 30px 82px 29px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt78.right {padding: 30px 83px 30px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt79.right {padding: 31px 84px 30px 24px;font-size: 15px;}
.tck_webchat_btn_wrapper p.txt80.right {padding: 31px 85px 31px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt81.right {padding: 31px 86px 31px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt82.right {padding: 32px 87px 31px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt83.right {padding: 32px 88px 32px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt84.right {padding: 33px 89px 32px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt85.right {padding: 33px 90px 33px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt86.right {padding: 34px 91px 33px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt87.right {padding: 34px 92px 34px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt88.right {padding: 35px 93px 34px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt89.right {padding: 35px 94px 35px 26px;font-size: 16px;}
.tck_webchat_btn_wrapper p.txt90.right {padding: 36px 95px 35px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt91.right {padding: 36px 96px 35px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt92.right {padding: 36px 97px 36px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt93.right {padding: 37px 98px 36px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt94.right {padding: 37px 99px 37px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt95.right {padding: 38px 100px 37px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt96.right {padding: 38px 101px 38px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt97.right {padding: 39px 102px 38px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt98.right {padding: 39px 103px 39px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt99.right {padding: 40px 104px 39px 28px;font-size: 17px;}
.tck_webchat_btn_wrapper p.txt100.right {padding: 40px 105px 40px 28px;font-size: 17px;}

.tck_webchat_btn_wrapper.close {
  display: none !important;
}
.tck_webchat_close_button.responsive {
  display: none;
  position: absolute;
  padding: initial;
  right: 9px;
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 11004;
}
.tck_webchat_close_button.responsive:before,
.tck_webchat_close_button.responsive:after {
  display: block;
  position: absolute;
  left: 20px;
  content: "";
  height: 22px;
  width: 2px;
  background-color: #fff;
  z-index: 11005;
  opacity: 0.9;
}
.tck_webchat_close_button.responsive:before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.tck_webchat_close_button.responsive:after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.tck_webchat_close_button.responsive.open {
  display: block;
}
.tck_webchat_btn {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  overflow: initial;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #7377ff;
  border-radius: 50px;
  z-index: 10003;
  top: 1px;
   right: -1px;
   left: auto;
}
.tck_webchat_btn_img {
  width: 100%;
  max-width: 70px;
  z-index: 10004;
  overflow: visible;
  border-radius: 50%;
}

.tck_webchat_btn_count {
	display: block;
    position: absolute;
    top: 0;
    z-index: 10004;
    text-align: center;
    font-size: 12px;
	width: 20px;
    height: 20px;
    border-radius: 50%;
	background-color: #ff0000;
	display: none;
	color : #ffffff;
}
.tck_webchat_btn_count.badge20 {width: 12px;height: 12px;font-size: 0.1em;margin: -4px -2px 0 0;}
.tck_webchat_btn_count.badge21 {width: 12px;height: 12px;font-size: 0.1em;margin: -4px -2px 0 0;}
.tck_webchat_btn_count.badge22 {width: 12px;height: 12px;font-size: 0.1em;margin: -4px -2px 0 0;}
.tck_webchat_btn_count.badge23 {width: 12px;height: 12px;font-size: 0.1em;margin: -4px -2px 0 0;}
.tck_webchat_btn_count.badge24 {width: 12px;height: 12px;font-size: 0.1em;margin: -4px -2px 0 0;}
.tck_webchat_btn_count.badge25 {width: 12px;height: 12px;font-size: 0.1em;margin: -3px -2px 0 0;}
.tck_webchat_btn_count.badge26 {width: 13px;height: 13px;font-size: 0.2em;margin: -3px -2px 0 0;}
.tck_webchat_btn_count.badge27 {width: 13px;height: 13px;font-size: 0.2em;margin: -3px -2px 0 0;}
.tck_webchat_btn_count.badge28 {width: 13px;height: 13px;font-size: 0.2em;margin: -3px -2px 0 0;}
.tck_webchat_btn_count.badge29 {width: 13px;height: 13px;font-size: 0.2em;margin: -3px -2px 0 0;}
.tck_webchat_btn_count.badge30 {width: 14px;height: 14px;font-size: 0.5em;margin: -4px -2px 0 0;}
.tck_webchat_btn_count.badge31 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge32 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge33 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge34 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge35 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge36 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge37 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge38 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge39 {width: 14px;height: 14px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge40 {width: 15px;height: 15px;font-size: 0.5em;margin: -3px 0 0 0;}
.tck_webchat_btn_count.badge41 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge42 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge43 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge44 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge45 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge46 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge47 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge48 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge49 {width: 15px;height: 15px;font-size: 0.5em;}
.tck_webchat_btn_count.badge50 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge51 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge52 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge53 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge54 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge55 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge56 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge57 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge58 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge59 {width: 17px;height: 17px;font-size: 0.7em;}
.tck_webchat_btn_count.badge60 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge61 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge62 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge63 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge64 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge65 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge66 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge67 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge68 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge69 {width: 20px;height: 20px;font-size: 0.8em;}
.tck_webchat_btn_count.badge70 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge71 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge72 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge73 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge74 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge75 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge76 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge77 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge78 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge79 {width: 22px;height: 22px;font-size: 0.9em;}
.tck_webchat_btn_count.badge80 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge81 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge82 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge83 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge84 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge85 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge86 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge87 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge88 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge89 {width: 24px;height: 24px;font-size: 1em;}
.tck_webchat_btn_count.badge90 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge91 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge92 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge93 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge94 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge95 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge96 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge97 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge98 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge99 {width: 26px;height: 26px;font-size: 1em;}
.tck_webchat_btn_count.badge100 {width: 28px;height: 28px;font-size: 1.1em;}

.tck_webchat_btn_count.right {
	left: auto;
    right: 0;
}
.tck_webchat_btn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/* #btn_text::after {
  content: "상담 시작하기";
} */

/* 포지션 클래스 분리 */
.tck_webchat_btn_wrapper.left {
  left: 40px;
  right: auto;
}
.tck_webchat_btn_wrapper p.left {
  padding: 21px 21px 21px 65px;
}
.tck_webchat_btn.left {
  left: -1px;
  right:auto;
}

/* webchat.css 변경 */
      @media all and (max-width: 480px) {
        body {
          margin: 0;
        }
        .tck_webchat_chat_wrapper {         
          left: auto !important;
	      right: auto !important;
	      width: 100%;
	      height: calc(var(--vh, 1vh) * 100) !important;
	      bottom: 0 !important;
	      border-radius: 0;
	      z-index: 10000;
	      overflow: hidden;
	      max-height: 100%;
        }

        .tck_webchat_btn_wrapper:hover p {
          opacity: 0;
        }
      }
      /* 가로모드 */
      .tck_webchat_chat_wrapper.landscape {
        left: auto;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        border-radius: 0;
        z-index: 10000;
        overflow: hidden;
        max-height: 100%;
      }
      .tck_webchat_chat_wrapper.right.landscape {
        left: auto !important;
        right: 0 !important;
      }
      .tck_webchat_chat_wrapper.left.landscape {
        left: 0 !important;
        right: auto !important;
      }



