#TCK a:link {
  color: initial;
  text-decoration: underline;
  cursor: pointer;
}
#TCK a:visited {
  color: initial;
  text-decoration: underline;
  cursor: pointer;
}
#TCK a:link:active {
  color: initial;
}
#TCK a:visited:active {
  color: initial;
}
#TCK address {
  display: block;
  font-style: italic;
}
#TCK area {
  display: none;
}

#TCK article {
  display: block;
}
#TCK aside {
  display: block;
}
#TCK b {
  font-weight: bold;
}
#TCK bdo {
  unicode-bidi: bidi-override;
}
#TCK blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
#TCK body {
  display: block;
  margin: 0;
}
#TCK body:focus {
  outline: none;
}
#TCK caption {
  text-align: center;
  display: table-caption;
}
#TCK cite {
  font-style: italic;
}

#TCK code {
  font-family: monospace;
}
#TCK col {
  display: table-column;
}
#TCK colgroup {
  display: table-column-group;
}
#TCK datalist {
  display: none;
}
#TCK dd {
  display: block;
  margin-left: 40px;
}
#TCK del {
  text-decoration: line-through;
}
#TCK details {
  display: block;
}
#TCK dfn {
  font-style: italic;
}
#TCK div {
  display: block;
}
#TCK dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
#TCK dt {
  display: block;
}
#TCK em {
  font-style: italic;
}
#TCK embed:focus {
  outline: none;
}
#TCK fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}
#TCK figcaption {
  display: block;
}
#TCK figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
#TCK footer {
  display: block;
}
#TCK form {
  margin-top: 0em;
  display: block;
}

#TCK h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#TCK h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#TCK h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#TCK h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#TCK h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#TCK h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#TCK head {
  display: none;
}
#TCK header {
  display: block;
}
#TCK hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
#TCK html {
  display: block;
  margin: 0;
}
#TCK html:focus {
  outline: none;
}
#TCK i {
  font-style: italic;
}
#TCK iframe:focus {
  outline: none;
}
#TCK frame[seamless] {
  display: block;
}
#TCK img {
  display: inline-block;
}
#TCK ins {
  text-decoration: underline;
}
#TCK kbd {
  font-family: monospace;
}
#TCK label {
  cursor: default;
}

#TCK legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}
#TCK li {
  display: list-item;
}
#TCK link {
  display: none;
}
#TCK map {
  display: inline;
}
#TCK mark {
  background-color: yellow;
  color: black;
}
#TCK menu {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
#TCK nav {
  display: block;
}
#TCK object:focus {
  outline: none;
}
#TCK ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
#TCK output {
  display: inline;
}
#TCK p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
#TCK param {
  display: none;
}
#TCK pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}
#TCK q {
  display: inline;
}
#TCK q::before {
  content: open-quote;
}
#TCK q::after {
  content: close-quote;
}
#TCK rt {
  line-height: normal;
}
#TCK s {
  text-decoration: line-through;
}
#TCK samp {
  font-family: monospace;
}
#TCK script {
  display: none;
}
#TCK section {
  display: block;
}
#TCK small {
  font-size: smaller;
}
#TCK strike {
  text-decoration: line-through;
}
#TCK strong {
  font-weight: bold;
}
#TCK style {
  display: none;
}
#TCK sub {
  vertical-align: sub;
  font-size: smaller;
}
#TCK summary {
  display: block;
}
#TCK sup {
  vertical-align: super;
  font-size: smaller;
}
#TCK table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
#TCK tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
#TCK td {
  display: table-cell;
  vertical-align: inherit;
}
#TCK tfoot {
  vertical-align: middle;
  border-color: inherit;
  display: table-footer-group;
}
#TCK th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}
#TCK thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
#TCK title {
  display: none;
}
#TCK tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
#TCK u {
  text-decoration: underline;
}
#TCK ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
#TCK var {
  font-style: italic;
}
/* reset.css */
/* 전체 기본리셋 */
#TCK.chat_bot html,
#TCK.chat_bot body,
#TCK.chat_bot div,
#TCK.chat_bot span,
#TCK.chat_bot object,
#TCK.chat_bot iframe,
#TCK.chat_bot h1,
#TCK.chat_bot h2,
#TCK.chat_bot h3,
#TCK.chat_bot h4,
#TCK.chat_bot h5,
#TCK.chat_bot h6,
#TCK.chat_bot p,
#TCK.chat_bot blockquote,
#TCK.chat_bot pre,
#TCK.chat_bot abbr,
#TCK.chat_bot address,
#TCK.chat_bot cite,
#TCK.chat_bot code,
#TCK.chat_bot del,
#TCK.chat_bot dfn,
#TCK.chat_bot em,
#TCK.chat_bot img,
#TCK.chat_bot ins,
#TCK.chat_bot kbd,
#TCK.chat_bot q,
#TCK.chat_bot small,
#TCK.chat_bot strong,
#TCK.chat_bot sub,
#TCK.chat_bot sup,
#TCK.chat_bot b,
#TCK.chat_bot i,
#TCK.chat_bot dl,
#TCK.chat_bot dt,
#TCK.chat_bot dd,
#TCK.chat_bot ol,
#TCK.chat_bot ul,
#TCK.chat_bot li,
#TCK.chat_bot fieldset,
#TCK.chat_bot form,
#TCK.chat_bot label,
#TCK.chat_bot legend,
#TCK.chat_bot table,
#TCK.chat_bot caption,
#TCK.chat_bot tbody,
#TCK.chat_bot tfoot,
#TCK.chat_bot thead,
#TCK.chat_bot tr,
#TCK.chat_bot th,
#TCK.chat_bot td,
#TCK.chat_bot article,
#TCK.chat_bot aside,
#TCK.chat_bot canvas,
#TCK.chat_bot details,
#TCK.chat_bot figcaption,
#TCK.chat_bot figure,
#TCK.chat_bot footer,
#TCK.chat_bot header,
#TCK.chat_bot hgroup,
#TCK.chat_bot nav,
#TCK.chat_bot section,
#TCK.chat_bot summary,
#TCK.chat_bot time,
#TCK.chat_bot mark,
#TCK.chat_bot audio,
#TCK.chat_bot video,
#TCK.chat_bot button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: "Noto Sans KR";
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
#TCK.chat_bot article,
#TCK.chat_bot aside,
#TCK.chat_bot details,
#TCK.chat_bot figcaption,
#TCK.chat_bot figure,
#TCK.chat_bot footer,
#TCK.chat_bot header,
#TCK.chat_bot hgroup,
#TCK.chat_bot menu,
#TCK.chat_bot nav,
#TCK.chat_bot section {
  display: block;
}
/* 전체 기본리셋 */

/* 개별리셋 */
* {
  -webkit-tap-highlight-color: transparent;
}
#TCK.chat_bot,
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: -0.02rem;
  font-size: 100%;
  font-family: "Noto Sans KR", "NanumGothic", "나눔고딕", "NanumGothicWeb", "맑은 고딕", Dotum, Sans-serif, MS Gothic, AppleGothic;
  color: #555;
  background-color: #fff;
  line-height: 120%;
}
#TCK.chat_bot br {
  font-family: "NanumGothic", "나눔고딕", "NanumGothicWeb", "맑은 고딕", Dotum, Sans-serif, MS Gothic, AppleGothic;
}
#TCK.chat_bot ul,
#TCK.chat_bot li,
#TCK.chat_bot ol {
  list-style: none;
}
#TCK.chat_bot a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}
#TCK.chat_bot a:visited {
  text-decoration: none;
}
#TCK.chat_bot img {
  vertical-align: middle;
  border: 0;
}
#TCK.chat_bot hr {
  display: block;
  height: 2px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
#TCK.chat_bot button {
  cursor: pointer;
}
#TCK.chat_bot button:disabled {
  cursor: auto;
}
#TCK.chat_bot table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
#TCK.chat_bot caption,
#TCK.chat_bot legend {
  width: 1px;
  height: 1px;
  visibility: visible;
  overflow: hidden;
  position: absolute !important;
  top: auto;
  left: -10000px;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
}
#TCK.chat_bot input,
#TCK.chat_bot textarea,
#TCK.chat_bot select {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  border-radius: 0;
  border-bottom: 1px solid #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  resize: none;
  border-radius: 0;
}
/* ie input스타일 */
#TCK.chat_bot input::-ms-check {
  display: none;
}
#TCK.chat_bot select::-ms-expand {
  display: none;
}
#TCK.chat_bot sup {
  vertical-align: super;
  font-size: 0.6rem;
  line-height: 10px;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
}
* {
  box-sizing: border-box;
}
#TCK.chat_bot #chatbotContent iframe {
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 360px;
  height: 700px;
}

@media all and (max-width: 480px) {
  #TCK.chat_bot #chatbotContent iframe {
    width: 100%;
    height: 100vh;
  }
}
